ul.snslogin img{
	align-content: center;
	width: 100px;
	height: 100px;
	padding: 10px;
}

#loginId, #loginPwd {
	
	width: 500px;
}

p#recoSchool{
	background-color: #CCCCCC;
	height: 800px;
}

