.subtitle{
	font: lighter;
	color: #828282;
}

div#telAll{
	display: inline;
	width: 600px;
}

div.tel{
	display: inline;
	float: left;
	width: 200px;
}

/* div.preference{
	border: 3px solid #FFD4DF;
	padding: 50px;
	margin: 30px;
} */


.schoolName{
	color: #84799F;
}



#boardsHigh, #boardsUni{
	clear: both;
}

.pre{
	font-size: 2em;
	line-height: 100px;
	text-align: center;
}
section#mainPage>span {
	font-size: 2em;
}
section#mainPage {
	text-align: center;
}
section#mainPage:hover {
	cursor: pointer;
	text-align: center;
}