.subtitle{
	font: lighter;
	color: #828282;
}

div#telAll{
	display: inline;
	width: 600px;
}

div.tel{
	display: inline;
	float: left;
	width: 200px;
}

div.preference{
	border: 3px solid #FFD4DF;
	padding: 50px;
	margin: 30px;
}

hr{
	border: 1px dashed #5a5a5a;
}

.schoolName{
	color: #84799F;
}

#imagesHigh, #imagesUni{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	margin: 5px;
}

div #imagesHigh div>img.icon{
	width: 10px;
	height: 10px
}

#boardsHigh, #boardsUni{
	clear: both;
}

.pre{
	font-size: 2em;
	line-height: 100px;
	text-align: center;
}
