.mogyoH1R {
	text-align: center;
}

.mogyoH2R {
	text-align: right;
}

.mogyoH2L {
	text-align: left;
}

div.submit-school-evaluation {
	text-align: center;
}
div.starRev {
	display: inline-block;	
}
.starR{
  background: url('/godinator/resources/images/schoolrating/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on {
	background-position:0 0;
}